::-webkit-scrollbar       {width:0;-webkit-appearance:none;-moz-appearance:none}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0)}
::-webkit-scrollbar-track {background-color:rgba(0,0,0,0)}
::-webkit-scrollbar-button{display:none}
::-webkit-scrollbar-corner{display:none}

::-moz-selection{background:transparent;text-shadow:none}
     ::selection{background:transparent;text-shadow:none}

pre{font-family:monospace,monospace;font-size:1em}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
img{border-style:none}
details{display:block}
summary{display:list-item}
template{display:none}
[hidden]{display:none}

@font-face{font-display:swap;unicode-range:U+0020,U+0026,U+002C-002E,U+0030-0039,U+0040-005A,U+0061-007A;font-family:"jetbrains mono";src:url('../fonts/jet.woff2') format('woff2'),url('../fonts/jet.woff') format('woff'),url('../fonts/jet.ttf') format('truetype')}

@-webkit-keyframes fade-in-1{0%{opacity:0}10%{opacity:0}30%{opacity:1}}
   @-moz-keyframes fade-in-1{0%{opacity:0}10%{opacity:0}30%{opacity:1}}
        @keyframes fade-in-1{0%{opacity:0}10%{opacity:0}30%{opacity:1}}
@-webkit-keyframes fade-in-2{0%{opacity:0}25%{opacity:0}45%{opacity:1}}
   @-moz-keyframes fade-in-2{0%{opacity:0}25%{opacity:0}45%{opacity:1}}
        @keyframes fade-in-2{0%{opacity:0}25%{opacity:0}45%{opacity:1}}
@-webkit-keyframes fade-in-3{0%{opacity:0}40%{opacity:0}60%{opacity:1}}
   @-moz-keyframes fade-in-3{0%{opacity:0}40%{opacity:0}60%{opacity:1}}
        @keyframes fade-in-3{0%{opacity:0}40%{opacity:0}60%{opacity:1}}
@-webkit-keyframes fade-in-4{0%{opacity:0}55%{opacity:0}75%{opacity:1}}
   @-moz-keyframes fade-in-4{0%{opacity:0}55%{opacity:0}75%{opacity:1}}
        @keyframes fade-in-4{0%{opacity:0}55%{opacity:0}75%{opacity:1}}

html{width:100%;height:100%;
     background-color:#0F0F0F;color:#F0F0F0;
     font-size:62.5%;
    -webkit-text-size-adjust:100%;
       -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
         -o-text-size-adjust:100%;
            text-size-adjust:100%}

body{width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;
     line-height:2.4rem;
     font-family:"jetbrains mono",monospace;
     font-kerning:normal;
    -webkit-font-smoothing:subpixel-antialiased;
   -moz-osx-font-smoothing:grayscale;
            text-rendering:optimizeLegibility;
    -webkit-font-feature-settings:"liga" on,"calt" on;
       -moz-font-feature-settings:"liga" on,"calt" on;
       -moz-font-feature-settings:"liga" on,"calt" on;
       -moz-font-feature-settings:"liga" on,"calt" on;
            font-feature-settings:"liga" on,"calt" on;
    -webkit-backface-visibility:hidden;
       -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
         -o-backface-visibility:hidden;
            backface-visibility:hidden;
    -webkit-user-select:none;
     -khtml-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none}

h2,h3,p{display:block;margin:-1.8rem 0 0 0;font-size:1.8rem;font-weight:normal;font-style:normal;cursor:default}
em{font-weight:normal;font-style:normal}

.text-right{justify-self:end}

.header-text-a,.header-text-b,.header-text-c{line-height:4.8rem;font-size:3.6rem}
.header-text-a{margin-top:-3.6rem}
.header-text-b{margin-top:6rem}
.header-text-c{margin-top:25.2rem}

.reveal-1st{-webkit-animation:fade-in-1 10s ease;-moz-animation:fade-in-1 10s ease;animation:fade-in-1 10s ease}
.reveal-2nd{-webkit-animation:fade-in-2 10s ease;-moz-animation:fade-in-2 10s ease;animation:fade-in-2 10s ease}
.reveal-3rd{-webkit-animation:fade-in-3 10s ease;-moz-animation:fade-in-3 10s ease;animation:fade-in-3 10s ease}
.reveal-4th{-webkit-animation:fade-in-4 10s ease;-moz-animation:fade-in-4 10s ease;animation:fade-in-4 10s ease}

.lightgray{color:#969696}
.darkgray{color:#5A5A5A}
.lightblue{color:#228BE6}

a{background-color:transparent;color:#969696;text-decoration:none;outline:none;cursor:pointer;
 -webkit-transition:all .5s;
    -moz-transition:all .5s;
     -ms-transition:all .5s;
      -o-transition:all .5s;
         transition:all .5s}

a:hover,a:focus{color:#228BE6}

header,.header,section,.section,footer,.footer{width:192rem;display:grid;grid-template-columns:10rem 16rem 26rem 42rem 42rem 26rem 16rem 10rem;gap:0;justify-content:center;justify-items:start;align-items:start}
header,.header{height:102rem;grid-template-rows:10rem 16rem 26rem 10rem 16rem 24rem}
section,.section{height:50rem;grid-template-rows:10rem 16rem 24rem}
footer,.footer{height:16rem;grid-template-rows:10rem 6rem}

.space{display:block;width:192rem;height:2rem}

.column-1{grid-column:1/2}
.column-2{grid-column:2/3}
.column-3{grid-column:3/4}
.column-4{grid-column:4/5}
.column-5{grid-column:5/6}
.column-6{grid-column:6/7}
.column-7{grid-column:7/8}
.column-8{grid-column:8/9}

.column-5-9{grid-column:5/9}
.column-6-8{grid-column:6/8}

.row-1{grid-row:1/2}
.row-2{grid-row:2/3}
.row-3{grid-row:3/4}
.row-4{grid-row:4/5}
.row-5{grid-row:5/6}
.row-6{grid-row:6/7}

.dots,.dots-big,.dots-small,.home,.logo,.logo-small,.i01,.i02,.i03,.i04,.i05,.i06,.i07,.i08,.i09,.i10{display:block}
.dots,.dots-big,.dots-small{width:188.2rem;margin:-0.1rem 0 0 -0.1rem;fill:#1864AB}

.dots{height:26.2rem}
.dots-big{height:78.2rem}
.dots-small{height:16.2rem}

.home{width:2.2rem;height:2.2rem;margin:-2rem 0 0 3.9rem;fill:none;stroke-linejoin:bevel}
.home a{color:transparent;stroke:#1864AB}
.home a:hover,.home a:focus{color:transparent;stroke:#969696}

.logo,.logo-small{background-image:url("../img/logo.svg")}
.logo{width:31rem;height:7rem;margin:-6rem 0 0 0}
.logo-small{width:15.5rem;height:3.5rem;margin:-3rem 0 0 0}

.i01{grid-column:2/5;grid-row:2/4;background-image:url("../img/i01.svg");width:62rem;height:42rem}
.i02{grid-column:2/5;grid-row:4/7;background-image:url("../img/i02.svg");width:62rem;height:42rem}
.i03{grid-column:2/5;grid-row:1/4;background-image:url("../img/i03.svg");width:62rem;height:48rem;margin:-10rem 0 0 0}
.i04{grid-column:5/9;grid-row:2/4;background-image:url("../img/i04.svg");width:106rem;height:42rem;margin:0 0 0 -12rem}
.i05{grid-column:2/5;grid-row:1/4;background-image:url("../img/i05.svg");width:62rem;height:66rem;margin:-14rem 0 0 0}
.i06{grid-column:2/5;grid-row:2/4;background-image:url("../img/i06.svg");width:62rem;height:42rem}
.i07{grid-column:5/9;grid-row:2/4;background-image:url("../img/i07.svg");width:90rem;height:42rem;margin:0 0 0 -3rem}
.i08{grid-column:3/5;grid-row:2/4;background-image:url("../img/i08.svg");width:30rem;height:104rem}
.i09{grid-column:5/8;grid-row:3/4;background-image:url("../img/i09.svg");width:84rem;height:52rem}
.i10{grid-column:3/8;grid-row:3/4;background-image:url("../img/i10.svg");width:122rem;height:36rem;margin:0 0 0 30rem}

@media all and (max-width:1729px){html{font-size:56.25%}}
@media all and (max-width:1601px){html{font-size:50%}}
@media all and (max-width:1537px){html{font-size:50%}}
@media all and (max-width:1441px){html{font-size:46.75%}}
@media all and (max-width:1367px){html{font-size:43.75%}}
@media all and (max-width:1201px){html{font-size:39%}}
@media all and (max-width:1081px){html{font-size:35%}}
@media all and (max-width:961px){html{font-size:31.25%}}
@media all and (max-width:801px){html{font-size:25%}}
@media all and (max-width:769px){html{font-size:25%}}

@media all and (max-width:641px){
html{font-size:25%;overflow-x:hidden}
header h2,.header h2,.dots,.dots-big,.dots-small,.home{display:none}
header,.header,section,.section,footer,.footer{width:160rem;grid-template-columns:4rem 12rem 26rem 26rem 42rem 42rem 0rem 4rem}
.space{width:160rem}
.i01{margin:0 0 0 -4rem}
.i02{margin:0 0 0 -4rem}
.i03{margin:-10rem 0 0 -4rem}
.i05{margin:-14rem 0 0 -4rem}
.i06{margin:0 0 0 -3rem}
.i10{margin:0 0 0 14rem}}
